services:
    broker:
      image: apache/kafka:latest
      container_name: broker
      hostname: broker
      ports:
        - "9092:9092"
      environment:
        KAFKA_NODE_ID: 1
        KAFKA_PROCESS_ROLES: broker,controller
        KAFKA_LISTENERS: CONTROLLER://:9091,HOST://:9092,DOCKER://:9093
        KAFKA_ADVERTISED_LISTENERS: HOST://localhost:9092,DOCKER://broker:9093
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,DOCKER:PLAINTEXT,HOST:PLAINTEXT
        KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER

        KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9091
        KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
        KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
        KAFKA_NUM_PARTITIONS: 3
    kafka-ui:
        image: provectuslabs/kafka-ui
        container_name: kafka-ui
        ports:
          - "8081:8080"
        restart: always
        environment:
          KAFKA_CLUSTERS_0_NAME: local
          KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: broker:9093
        depends_on:
          - broker
    postgres:
      image: postgres:latest
      environment:
        - POSTGRES_USER=storage
        - POSTGRES_PASSWORD=storage
        - POSTGRES_DB=storage
      ports:
        - "6433:5432"
      restart: unless-stopped
